* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body {
  background: url("../assets/img/background.png") no-repeat fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: saturate(280%) blur(1.5vw);
  position: relative;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 4rem 0;
}

section {
  border-radius: 30px;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.39);
  backdrop-filter: saturate(280%) blur(5vw);
  padding: 5rem;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 48px;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background: rgba(0, 0, 0, 0.39);
  backdrop-filter: saturate(280%) blur(5vw);
}

.logo {
  font-size: 25px;
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  margin-left: 35px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease;
}

nav a:hover {
  border-bottom: 1px solid #2997ff;
}

nav a:active {
  transform: translateY(2px);
}

header .btn-secundary {
  margin-left: 1rem;
  padding: 5px 15px;
}

a {
  cursor: pointer;
}

#loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 999;
}

.loader {
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  position: relative;
}

.loader img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35px;
  height: 35px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

body.no-scroll {
  overflow: hidden;
}

/* HOME */

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
}

.home-content h3 span {
  color: #0ef;
}

.home-content h1 {
  font-size: 80px;
  font-weight: 900;
  margin: -3px 0;
  color: inherit;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}

.home-content p {
  font-size: 20px;
  text-align: justify;
}

.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 1px solid #2997ff;
  border-radius: 50%;
  font-size: 20px;
  color: #2997ff;
  text-decoration: none;
  margin: 30px 15px 30px 0;
}

.home-sci a svg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-sci a:hover {
  background: #2997ff;
  color: #081b29;
}

.home-sci a:active {
  transform: scale(0.9);
}

.btn-secundary,
.btn-primary {
  border-radius: 5px;
  padding: 15px 25px;
  margin: 5px;
  font-size: 1.2rem;
  font-weight: 540;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}

.btn-secundary {
  border: 1px solid #2997ff;
  background: #191920;
  color: white;
}

.btn-primary {
  border: solid 1px #2997ff;
  background: #2997ff;
  color: black;
}

.btn-secundary:hover,
.btn-primary:hover {
  background: #2997ff;
  color: white;
}

.btn-secundary:active,
.btn-primary:active {
  transform: scale(0.9);
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  gap: 3rem;
  padding: 3rem;
}

.home-content h4,
h3 {
  color: #2997ff;
}

.text::before {
  content: "\25CF";
  color: #2997ff;
  margin-right: 5px;
}

.home-content {
  max-width: 600px;
  text-align: left;
}

@media (min-width: 700px) {
  main section:first-of-type {
    height: 90vh;
  }
}

.home h1 {
  font-size: 78px;
  line-height: 1.08349;
  font-weight: 600;
  letter-spacing: -0.003em;
}

.home-image img {
  width: 220px;
  height: 200px;
  /* filter: grayscale(50%); */
}

.home-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}








/* ABOUT */


.about-image {
  display: flex;
  align-items: center;
  justify-content: center
}

.about-image img {
  width: 320px;
  height: 320px;
  border-radius: 10px;
  transform: scale(.95);
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  transition: all 1s
}

.about-image:hover img {
  transform: scale(1);
  -webkit-filter: grayscale(0);
  filter: grayscale(0)
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: 0 2rem;
}

.about-img img {
  padding-bottom: 20%;
  max-width: 630px;
  height: auto;
  width: 100%;
  border-radius: 8px;
}

.about-text h2 {
  font-size: 60px;
}

.about-text {
  max-width: 600px;
}

.about-text h2 span {
  color: #2997ff;
}

.about-text h4 {
  font-size: 29px;
  font-weight: 600;
  color: #fff;
  line-height: 1.7;
  margin: 15px 0 30px;
}

.about-text p {
  font-size: 20px;
  color: aliceblue;
  line-height: 1.4;
  margin-bottom: 4rem;
  text-align: justify;
}





/* EDUCATION */


.education {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.educations {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.cards-education {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1rem;

}

.card-education {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.8rem;
  backdrop-filter: saturate(280%) blur(5vw);
  background: #191920;
  border: 1px solid #2997ff;
}

.education h2 {
  font-size: 60px;
}

.education h2 span {
  color: #2997ff;
}

.education h6 {
  color: #2997ff;
}








/* SKILLS */





.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.skills h2 {
  font-size: 60px;
}

.skills h2 span {
  color: #2997ff;
}

.lin {
  margin: 1rem;
}

.skill {
  margin: 1rem;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
}

.skill h2 {
  font-size: 30px;
  color: #2997ff;
}

.skill p {
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.flex-wrapper {
  display: flex;
}

.single-chart {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-bg,
.circle {
  fill: none;
  stroke: #cbcbcb87;
  backdrop-filter: saturate(280%) blur(5vw);
  background: none;
  stroke-width: 0.6;
}

.circle {
  fill: #191920;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.orange .circle {
  stroke: #2997ff;
  stroke-width: 0.5;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}


.single-chart h6 {
  color: #2997ff;
  font-size: 12px;
}

.technologiess {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.3rem;
}

.technologiess h3 {
  color: white;
  font-size: 18px;
}




/* PROJECTS */


.projects h2 {
  font-size: 60px;
}

.projects h2 span {
  color: #2997ff;
}

.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.carousel-container {
  position: relative;
  max-width: 1100px;
}

.carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1100px;
  background: #191920;
  backdrop-filter: saturate(280%) blur(5vw);
  border-radius: 10px;
  padding: 1.2rem;
  color: white;
  border: 1px solid #2997ff;
}

.carousel-controls,
.carousel-indicators {
  position: absolute;
  width: 100%;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.7s ease;
}

.carousel-controls {
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  padding: 0 0.4rem;
  align-items: center;
  justify-content: space-between;
}

.carousel-control {
  font-size: 2em;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.180);
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-container:hover .carousel-controls,
.carousel-container:hover .carousel-indicators {
  opacity: 1;
}

.carousel-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 50%;
  right: 0;
  text-align: center;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  transform: translateX(-50%);
}


.carousel-caption {
  width: 70%;
}

.carousel-caption h5 {
  text-align: center;
}

.carousel-caption p {
  text-align: justify;
}

.technologies {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carousel-container img {
  max-width: 100%;
  border-radius: 10px;
}

.icon-technology {
  width: 40px;
  height: 40px;
}

.carousel-bullet {
  color: white;
  cursor: pointer;
  font-size: 35px;
  margin: 0 5px;
}

.active-bullet {
  color: #2997ff;
}

.carousel-container label {
  position: relative;
}

.carousel-caption h5 {
  color: #2997ff;
  margin: 1rem;
}






/* contact */


.contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 700px;
  gap: 0.5rem;
  padding: 0.25rem;
  width: 90%;
}


input,
textarea {
  background: #191920;
  backdrop-filter: saturate(280%) blur(5vw);
  font: 400 1rem/1.5 Arial, sans-serif;
  border-radius: 12px;
  text-align: left;
  outline: none;
  color: white;
  padding: 1rem 0.5rem 0.3rem;
  border: 0.5px solid #2997ff;
}

.contact-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contact-header {
  font-size: 60px;
  color: #2997ff;
}

.contact-container {
  width: 100%;
  gap: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.input-container {
  position: relative;
  width: 100%;
}

input,
textarea {
  width: 100%;
  height: 100%;
}

textarea:focus,
input:focus {
  border: 2px solid #2997ff;
}

input:not(:placeholder-shown)+label,
input:focus+label,
textarea:not(:placeholder-shown)+label,
textarea:focus+label {
  transform: scale(0.7) translateY(-0.6rem);
  color: #2997ff;
}

.contact-label {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100%;
  height: 100%;
  font-size: 17px;
  color: gray;
  transition: 0.25s ease-in-out;
  transform-origin: top left;
  pointer-events: none;
}